In [10]:
import pandas as pd
import numpy as np

In [11]:
compas = pd.read_csv('data/cox-violent-parsed.csv')
compas.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,1.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,0,327,0
1,2.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,334,961,0
2,3.0,michael ryan,michael,ryan,31/12/2014,Male,06/02/1985,31,25 - 45,Caucasian,...,Risk of Violence,2,Low,31/12/2014,30/12/2014,03/01/2015,0,3,457,0
3,4.0,kevon dixon,kevon,dixon,27/01/2013,Male,22/01/1982,34,25 - 45,African-American,...,Risk of Violence,1,Low,27/01/2013,26/01/2013,05/02/2013,0,9,159,1
4,5.0,ed philo,ed,philo,14/04/2013,Male,14/05/1991,24,Less than 25,African-American,...,Risk of Violence,3,Low,14/04/2013,16/06/2013,16/06/2013,4,0,63,0

In [12]:
compas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18316 entries, 0 to 18315
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       11001 non-null  float64
 1   name                     18316 non-null  object
 2   first                    18316 non-null  object
 3   last                     18316 non-null  object
 4   compas_screening_date    18316 non-null  object
 5   sex                      18316 non-null  object
 6   dob                      18316 non-null  object
 7   age                      18316 non-null  int64
 8   age_cat                  18316 non-null  object
 9   race                     18316 non-null  object
 10  juv_fel_count            18316 non-null  int64
 11  decile_score             18316 non-null  int64
 12  juv_misd_count           18316 non-null  int64
 13  juv_other_count          18316 non-null  int64
 14  priors_count             18316 non-null  int64
 15  days_b_screening_arrest  17019 non-null  float64
 16  c_jail_in                17019 non-null  object
 17  c_jail_out               17019 non-null  object
 18  c_case_number            17449 non-null  object
 19  c_offense_date           14364 non-null  object
 20  c_arrest_date            3085 non-null   object
 21  c_days_from_compas       17449 non-null  float64
 22  c_charge_degree          17449 non-null  object
 23  c_charge_desc            17435 non-null  object
 24  is_recid                 18316 non-null  int64
 25  r_case_number            8417 non-null   object
 26  r_charge_degree          8417 non-null   object
 27  r_days_from_arrest       6359 non-null   float64
 28  r_offense_date           8417 non-null   object
 29  r_charge_desc            8277 non-null   object
 30  r_jail_in                6359 non-null   object
 31  r_jail_out               6359 non-null   object
 32  violent_recid            0 non-null      float64
 33  is_violent_recid         18316 non-null  int64
 34  vr_case_number           1339 non-null   object
 35  vr_charge_degree         1339 non-null   object
 36  vr_offense_date          1339 non-null   object
 37  vr_charge_desc           1339 non-null   object
 38  type_of_assessment       18316 non-null  object
 39  decile_score.1           18316 non-null  int64
 40  score_text               18293 non-null  object
 41  screening_date           18316 non-null  object
 42  v_type_of_assessment     18316 non-null  object
 43  v_decile_score           18316 non-null  int64
 44  v_score_text             18310 non-null  object
 45  v_screening_date         18316 non-null  object
 46  in_custody               17722 non-null  object
 47  out_custody              17722 non-null  object
 48  priors_count.1           18316 non-null  int64
 49  start                    18316 non-null  int64
 50  end                      18316 non-null  int64
 51  event                    18316 non-null  int64
dtypes: float64(5), int64(14), object(33)
memory usage: 7.3+ MB

In [13]:
list(compas)

['id',
 'name',
 'first',
 'last',
 'compas_screening_date',
 'sex',
 'dob',
 'age',
 'age_cat',
 'race',
 'juv_fel_count',
 'decile_score',
 'juv_misd_count',
 'juv_other_count',
 'priors_count',
 'days_b_screening_arrest',
 'c_jail_in',
 'c_jail_out',
 'c_case_number',
 'c_offense_date',
 'c_arrest_date',
 'c_days_from_compas',
 'c_charge_degree',
 'c_charge_desc',
 'is_recid',
 'r_case_number',
 'r_charge_degree',
 'r_days_from_arrest',
 'r_offense_date',
 'r_charge_desc',
 'r_jail_in',
 'r_jail_out',
 'violent_recid',
 'is_violent_recid',
 'vr_case_number',
 'vr_charge_degree',
 'vr_offense_date',
 'vr_charge_desc',
 'type_of_assessment',
 'decile_score.1',
 'score_text',
 'screening_date',
 'v_type_of_assessment',
 'v_decile_score',
 'v_score_text',
 'v_screening_date',
 'in_custody',
 'out_custody',
 'priors_count.1',
 'start',
 'end',
 'event']

In [17]:
compas['c_jail_in'] = pd.to_datetime(compas['c_jail_in'], format='mixed')
compas[]

In [21]:
compas['decile_score.1']

0        1
1        1
2        5
3        3
4        4
        ..
18311    6
18312    1
18313    2
18314    4
18315    4
Name: decile_score.1, Length: 18316, dtype: int64

In [22]:
compas['score_text']

0           Low
1           Low
2        Medium
3           Low
4           Low
          ...
18311    Medium
18312       Low
18313       Low
18314       Low
18315       Low
Name: score_text, Length: 18316, dtype: object

In [32]:
compas['v_score_text'].unique()
#get rid of nan

array(['Low', 'Medium', 'High', nan], dtype=object)

In [33]:
compas['v_decile_score'].unique()
#clean that out

array([ 1,  2,  3,  6,  9,  5,  4,  7, 10,  8, -1])

In [27]:
compas[:1]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,1.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,0,327,0

In [18]:
compas.describe().T

,count,mean,min,25%,50%,75%,max,std
id,11001.0,5501.0,1.0,2751.0,5501.0,8251.0,11001.0,3175.85949
age,18316.0,34.019273,18.0,25.0,31.0,41.0,96.0,11.667811
juv_fel_count,18316.0,0.076873,0.0,0.0,0.0,0.0,20.0,0.464272
decile_score,18316.0,4.997052,-1.0,2.0,5.0,8.0,10.0,2.937569
juv_misd_count,18316.0,0.098439,0.0,0.0,0.0,0.0,13.0,0.517639
juv_other_count,18316.0,0.124263,0.0,0.0,0.0,0.0,17.0,0.524537
priors_count,18316.0,3.913191,0.0,0.0,2.0,5.0,43.0,5.299864
days_b_screening_arrest,17019.0,4.302485,-597.0,-1.0,-1.0,0.0,1057.0,81.159881
c_jail_in,17019,2013-12-04 07:12:40.063458560,2013-01-01 01:31:00,2013-05-14 04:05:00,2013-11-13 03:26:00,2014-06-03 02:38:30,2016-11-03 10:26:00,NaN
c_days_from_compas,17449.0,57.694596,0.0,1.0,1.0,2.0,9485.0,317.994694
is_recid,18316.0,0.414774,-1.0,0.0,0.0,1.0,1.0,0.576449
r_days_from_arrest,6359.0,19.961629,-1.0,0.0,0.0,1.0,993.0,74.139695
violent_recid,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_violent_recid,18316.0,0.073105,0.0,0.0,0.0,0.0,1.0,0.260317
decile_score.1,18316.0,4.997052,-1.0,2.0,5.0,8.0,10.0,2.937569
v_decile_score,18316.0,4.022822,-1.0,2.0,4.0,6.0,10.0,2.614189
priors_count.1,18316.0,3.913191,0.0,0.0,2.0,5.0,43.0,5.299864
start,18316.0,186.394901,0.0,0.0,7.0,309.0,1197.0,283.373004
end,18316.0,625.210636,0.0,364.0,634.0,897.0,1187.0,335.881439
event,18316.0,0.044715,0.0,0.0,0.0,0.0,1.0,0.206683